/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --fs-100:0.875rem;
    --fs-150: 1rem;

    --ff-Fraunces: "Fraunces", serif;
    --ff-Montserrat: "Montserrat", sans-serif;

    --fw-black: 500;
    --fw-bold:700;

  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#6C7289;
    font-weight: var(--fw-black);
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-100);
  }

  .card{
    max-width: 37.5rem;
    display: flex;
    border-radius: 0.5rem;
    outline: 3px solid red;
  }

  .card-image{
    max-width: 50%;
    
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .right-card{
    padding: 2rem;
   
  }

  .label{
    text-transform: uppercase;    
    letter-spacing: 5px;
    font-size: var(--fs-100);
    margin-bottom: 20px;
  }

  .title{
    line-height: 1.1;
    font-size: 2.2rem;
    font-family: var(--ff-Fraunces);
    color:var(--very-dark-blue);
    font-weight: var(--fw-bold);

    margin-bottom: 24px;
  }

  .description{
    margin-bottom: 29px;
    line-height: 1.5;
  }

  .discount{
    font-size: 2rem;
    font-family: var(--ff-Fraunces);
    font-weight: var(--fw-bold);
    color:var(--dark-cyan);
    position: relative;

    margin-bottom: 30px;
  }

  .price{
    font-size:var(--fs-100);
    font-weight: var(--fw-black);
    font-family: var(--ff-Montserrat);
    color:#6C7289;

    margin-top: 13px;
    margin-left:1rem;
    position: absolute;
    text-decoration: line-through;

    
  }

  .buy-button{
    width: 100%;
    border: none;
    color: white;
    background-color: var(--dark-cyan);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1em;
    border-radius: 0.6em;
  }

  .buy-button p{
    margin-left: 0.5em;
  }